body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    transition: 0.4s;
}

/* THEMES */
body.dark {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

body.light {
    background: #f4f6f8;
    color: #222;
}

/* LOGIN */
.login-box {
    width: 320px;
    margin: 140px auto;
    background: white;
    color: black;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 95%;
    padding: 10px;
    background: #1abc9c;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 6px;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

/* SECTIONS */
section {
    background: rgba(255,255,255,0.08);
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    border-radius: 12px;
}

/* CREDIT CARDS */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient(135deg, #1abc9c, #16a085);
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    margin: 10px;
    text-align: center;
}

/* BARS */
.bar {
    background: #34495e;
    margin: 12px 0;
    border-radius: 20px;
    overflow: hidden;
}

.bar-fill {
    height: 28px;
    background: #2ecc71;
    line-height: 28px;
    padding-right: 10px;
    text-align: right;
    transition: width 1s;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #666;
    text-align: center;
}

/* MOBILE */
@media (max-width: 600px) {
    .top-bar {
        flex-direction: column;
    }
}
